/* Tabla */

td > img {
    width: 70px;
    height: 70px;
    margin: 1% 1% 1% 1% !important;
    padding: 1% 1% 1% 1% !important;
  }
  
  #cart table * {
    vertical-align: middle;
  }
  
  #cart-table tbody{
    background-color: white !important;
  }
  
  #cart-table thead th {
    color: #3d3d3d;
  }
  
  #cart-table tfoot th:first-child {
    text-align: right;
  }
  
  #cart-table tfoot th:last-child {
    text-align: center;
  }
  
  #cart-table img {
    height: 4rem;
    width: 4.75rem;
  }
  
  #cart-table tbody td:nth-child(4) input,button{
    background: transparent;
    border: none;
  }
  
  .cant {
    width: 30px !important;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    text-align:center !important;
  }
  
  input[type=number] {
    -moz-appearance: textfield !important;
    text-align:center !important;
  }
  
  
  #cart-table > thead > tr > th {
    width:200px;
    max-width:200px;
  }
  
  #cart-table > th, td {
    border-top: 1px solid #ddd;
  }
  
  /* Recibo */
  
  #recibo {
    outline: 1px solid rgb(206, 206, 206);
    padding: 10px 10px 10px 10px;
    background-color: white !important;
  }
  
  .btn-shipping {
    background:gray;
  }
  
  .crossOut {
    text-decoration: line-through;
  }
  
  
  /* Modal */
  
  .paymentIcon{
    transition: all 200ms ease;
    opacity: 0.3;
  }
  
  .paymentIcon.active {
    opacity: 1;
    transform: scale(1.1,1.1);
  }

/* Zona de recibo */

#checkoutNote {
    padding: .9em .9em .8em .6em;
  }
  
  #checkoutNote div{
    padding-bottom: .5em;
    padding-top: .5em;
    border-bottom: 1px solid lightgray;
    font-size: .9em;
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
  }
  
  #checkoutNote div:last-child{
    font-size: 1.01em !important;
  }
  
  #recibo {
    padding: .9em .9em .9em .9em !important;
  }
  
  #radioEnvio label{
    font-size: .86em;
  }
  
  #radioEnvio {
    margin-bottom: 1em;
  }



