.img-profile {
    width: 100px;
    height: 100px;
    border-radius: 50% 50% 50% 50%;
  }
  
  #canvas {
    border-radius: 50%;
    width: 100px !important;
    height: 100px !important;
    background: url('../img/img_avatar4.png');
    background-size: cover;
  }
  
  #cleaProfilePic {
    cursor:pointer;
  }